<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Planning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <div *ngIf="!isLoaded" text-center padding-top>
          <ion-spinner color="primary"></ion-spinner>
        </div>

        <ion-list *ngIf="isLoaded" lines="none">
          <ion-list-header>
            <h3>Expenses</h3>
            <p class="header-text">
              Total balance: <ion-text color="primary">{{bill.value | number:'1.2-2'}} EU</ion-text>
            </p>
          </ion-list-header>
          <div class="planning-item" *ngFor="let category of categories" margin-top>
            <ion-item>
              <div class="progress-outer">
                <div
                  class="progress-inner {{getCatColorClass(category)}}"
                  [ngStyle]="{width: getCatPercent(category)}"
                >
                  {{category.name}}
                </div>
              </div>
            </ion-item>
            <ion-item>
              <p class="planning-text">
                <ion-text color="{{getCatColorClass(category)}}">
                  {{ getCategoryCost(category) | number:'1.2-2' }}
                </ion-text>
                из
                <ion-text color="primary">
                  {{ category.capacity | number:'1.2-2' }}
                </ion-text> |
                <ion-text color="{{getCatColorClass(category)}}">
                  {{ category.capacity - getCategoryCost(category) | number:'1.2' }}
                </ion-text>
                left (EU)
              </p>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
