ion-item {
  border-bottom: 1px solid var(--ion-color-primary);
}

.category-name {
  color: var(--ion-color-primary);
}
.category-capacity {
  color: var(--ion-color-medium);
  margin-top: 4px;
  margin-bottom: 4px;
}